* {
    box-sizing: border-box;
    font-family: 'minecraft-regular';
}
.hp_mainContainer {
    width: 100%;
    height: 95vh;
    background-image: url("../../assets/MainPageBackground.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 2vh;
}
.hp_contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2em;
    background-image: linear-gradient(rgba(0.2, 0.2, 0.2, 0),rgba(0.2, 0.2, 0.2, 0.8) 50%);
    width: 60vw;
    margin: auto;
    height: auto;
    min-height: 50vh;
    border-radius: 3em;
}
.hp_logo {
    /* width: 90%; */
    background-clip: text;
    background-image: url("../../assets/Stone.png");
    background-size: auto;
    font-size: 12vw;
    color: transparent;
    font-family: 'minecraft-ten';
}

.hp_startButton {
    margin-top: 1em;
    padding: 0.5em;
    background-image: url("../../assets/SpruceWood.png");
    background-size:auto;
    background-position: top;
    font-size: 2.5vw;
    color: #fff;
}

.hp_startButton:hover {
    background-image: url("../../assets/OakWood.png");
    cursor: pointer;
}

@media screen and (max-width:1480px) {
    .hp_contentContainer {
        width: 50vw;
    }

    .hp_logo {
        font-size: 12vw;
        background-size: contain;
    }

    .hp_startButton{
        font-size: 2.5vw;
        background-size: contain ;
    }
}

@media screen and (max-width:780px) {
    .hp_contentContainer {
        width: 80vw;
    }

    .hp_logo {
        font-size: 19vw;
        background-size: contain;
    }

    .hp_startButton{
        font-size: 5vw;
        background-size: contain ;
    }
}




