.lb_mainContainer {
    display: flex;
    width: 95%;
    flex-direction: column;
}

.lb_title {
    font-family: 'minecraft-ten';
    background-image: url("../../assets/GoldBlock.png");
    background-clip: text;
    background-size: contain;
    color: transparent;

    text-align: center;

    font-size: 6em;
    margin: 1em auto;
    
}

.lb_leaderboard {
}

.lb_scoreItem {
    display: flex;
    flex-direction: row;
    color: #fff;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0 1em;
}

.lb_leaderboard div {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.lb_index {

}

.lb_nickname {
    overflow: hidden;
    text-overflow: clip;
    text-align: left;
    margin-left: 5px;
}

.lb_score {
    flex: 1;
    margin-left: 8px;
    justify-content: end;
}

@media screen and (max-width:920px) {
    .lb_leaderboard div {
        font-size: 32px;
    }

    .lb_title{
        font-size: 5em;
    }
}

@media screen and (max-width:450px) {
    .lb_leaderboard div {
        font-size: 1.2em;
    }

    .lb_title{
        font-size: 2em;
    }
}

