.lb_mainContainer {
    display: flex;
    width: 95%;
    flex-direction: column;
}

.lb_title {
    font-family: 'minecraft-ten';
    background-image: url("../../assets/GoldBlock.png");
    background-clip: text;
    background-size: contain;
    color: transparent;

    text-align: center;

    font-size: 6em;
    margin: 1em auto;
    
}

.lb_leaderboard {
}

.lb_scoreItem {
    display: flex;
    flex-direction: row;
    color: #fff;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0 1em;
}

.lb_leaderboard div {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.lb_index {

}

.lb_nickname {
    overflow: hidden;
    text-overflow: clip;
    text-align: left;
    margin-left: 5px;
}

.lb_score {
    flex: 1;
    margin-left: 8px;
    justify-content: end;
}

.lb_deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(251, 25, 25, 0.811);
    border-right: solid 1px rgba(255, 217, 0, 0.571);
    border-bottom: solid 2px rgba(255, 217, 0, 0.806);
    border-radius: 0.4em;
    
    padding: 0.5em;
    height: 1.5em;
    margin-left: 0.2em;
    margin-bottom: 2px;
}

.lb_deleteButton:hover {
    background-color: rgb(90, 8, 8);
    border: none;
}

@media screen and (max-width:920px) {
    .lb_leaderboard div {
        font-size: 24px;
    }

    .lb_title{
        font-size: 5em;
    }
}

@media screen and (max-width:650px) {
    .lb_leaderboard div {
        font-size: 20px;
    }

    .lb_title{
        font-size: 4em;
    }
}

@media screen and (max-width:500px) {
    .lb_leaderboard div {
        font-size: 16px;
    }

    .lb_title{
        font-size: 2.5em;
    }
}

@media screen and (max-width:400px) {
    .lb_leaderboard div {
        font-size: 16px;
    }

    .lb_title{
        font-size: 2em;
    }
}

