.gp_mainContainer {
    width: 100%;
}

.gp_guessingZone {
    /* border: 10px red solid; */

    margin: 5vh 5vw;
    margin-bottom: 0;

    display: flex;
    align-items: stretch;
    gap: 10px;
}

.gp_guessingZone button {
    font-size: 3vh;
    background-color: #a0c4ff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

.gp_chosenOptions {
    color: #fff;
    text-align: center;
    margin-bottom: 5vh;
    padding: 0px 10px;
}

.gp_overflowBox {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #a0c4ff #0c1a2b;
    align-items: safe center;
}


.gp_chosenContainer {
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: center;
    border-bottom: 3px #224 solid;
    padding-bottom: 10px;
}

.gp_chosenContainer div, .gp_chosenContainer img {
    display: flex;
    flex-direction: column;
    line-height: 0;

    min-width: 120px;
    min-height: 120px;
    font-size: 16px;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.gp_chosenContainer img {
    border: 3px #ccc solid;
    width: 2vh;
}