footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(0.2, 0.2, 0.2);
    color: white;
    padding: 1em 4em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    bottom: 0;
    z-index: 2000;
    width: 100%;
}

.f_media svg{
    height: 2em;
    border-radius: 1em;
}