body {
  background-image: url("assets/MainPageBackground.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  font-family: 'minecraft-regular';
}
.mainContainer {
  width: 100%;
  min-height: 100vh;
  padding-top: 2vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-image: linear-gradient(rgba(0.2, 0.2, 0.2, 0), rgba(0.2, 0.2, 0.2, 0.9) 60%, rgba(0.2, 0.2, 0.2, 1) 100% );
  width: 50em;
  margin: auto;
  height: auto;
  min-height: 100%;
}

.logo {
  background-clip: text;
  background-image: url("assets/Stone.png");
  background-size: auto;
  font-size: 12em;
  color: transparent;
  font-family: 'minecraft-ten';
}

@media screen and (max-width: 800px) {
  .contentContainer {
      width: 90vw;
  }

  .logo {
    font-size: 20vw;
  }
}